.container-5{
    border: 1px solid black;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}
.btn{
    width:90px;
    font-size: large;
    padding: 10px;
    border-radius: 15px;
}
.btn-1{
    background-color: aqua;
}
.btn-2{
    background-color: rgb(141, 54, 134);
}
.btn-3{
    background-color: rgba(76, 238, 111, 0.863);
}
.black-jack-row3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.black-jack-row1, .black-jack-row2{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    background-color: rgba(7, 87, 7, 0.835);
}
.black-jack-row1 div{
   border: 1px solid black;
   padding: 10px;
   height: 300px;
   flex: 1;
}
th, td{
    padding: 5px;
    border: 1px solid black;
}
.black-jack-row1 div img{
    width: 100px;
}
